<% w = tile.width %>
<% h = tile.height %>
<div style="width:<%=100*w+6*(w-1)%>px; height:<%=100*h+6*(h-1)%>px; 
    background-color:blue; position:absolute; top:<%=106*tile.y+3%>px; left:<%=106*tile.x+3%>px; 
    border:2px solid black; margin:2px;">
</div>


